[submodule "app"]
	path = app
	url = git@github.com:riccardopreite/sistemiCA-project.git
[submodule "server"]
	path = server
	url = git@github.com:riccardopreite/sistemiCA-server.git
[submodule "dataset-generation"]
	path = dataset-generation
	url = git@github.com:riccardopreite/geolife_training.git
[submodule "report"]
	path = report
	url = git@github.com:TommasoAzz/social-places-report.git
